@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1E1E1E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pp-neue-montreal);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #ffffff;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pp-neue-montreal), Arial, Helvetica, sans-serif;
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s cubic-bezier(0.85, 0, 0.15, 1) infinite;
}
